@charset "utf-8";

@import url(font.css?ver=1.0.1);
@import url(pano_Popup.css?ver=1.0.1);

/* ==========================================================================
    Base
========================================================================== */
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
:after, :before {box-sizing:border-box;}

html, body,div,dl,dt,dd,ul,ol,li, pre,code,form,fieldset,legend,textarea,p,iframe,span,strong,em{margin:0; padding:0; word-break:keep-all; -webkit-text-size-adjust:none; }

body{overflow-x:hidden;  padding:0px; margin:0px;  }
@media all and (max-width:1024px) {
	body{font-size:14px}
}
@media all and (max-width:768px) {
	body{font-size:13px}
}
b{font-weight:500;}
html, body {width:100%; height:100%; margin-left:auto; margin-right:auto; overflow:hidden; background:#000; font-family:'Roboto', 'Noto Sans KR', '돋움', Dotum, AppleGothic,sans-serif; font-size:15px; font-weight:400; color:#1A1A1A; letter-spacing:-0.01em; -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;}
/* body { overflow:hidden; } */
header, hgroup, footer, section, article, aside, nav, canvas, figure, figcaption { display:block; }
table { font-size:inherit; border-collapse:collapse; border-spacing:0; table-layout:fixed; }
th, td { word-wrap:break-word; word-break:break-all; }
fieldset, iframe { border:0; vertical-align:top; }
small {font-size:0.9em}
img { border:0; font-size:0; vertical-align:top; }
address,cite,code,dfn,em,var { font-style:normal; font-weight:normal; }
li, dd { list-style:none; word-break:keep-all; word-break:break-word; }
hr { display:none; }
caption { overflow:hidden;width:100%;height:1px;font-size:1px;line-height:0;text-indent:-9999px; margin-top:-1px; }
legend {  overflow:hidden; left:-9999px; text-indent:9999px; width:0; height:0; overflow:hidden; line-height:0; white-space:nowrap; color:#222; }
button {padding:0; border:0; cursor:hand; background:none; vertical-align:middle; font-size:inherit; appearance: none;border:0; overflow:visible; outline:none;}
h1, h2, h3, h4, h5, h6 { padding:0px;margin:0px; }
a, a code { color:#222; text-decoration:none;  transition-duration: 300ms;   transition-property: color, border-color, background-color;   transition-timing-function: ease; }
a:active, a:active code { color:#222; text-decoration:none; transition-duration: 300ms; transition-property: color, border-color, background-color;   transition-timing-function: ease;}
a:hover, a:hover code, a:focus, a:focus code { text-decoration:none; transition-duration: 300ms; transition-property: color, border-color, background-color;   transition-timing-function: ease;  }
sup,sub { font-size:0.9em; font-style:italic; }
checkbox { vertical-align:middle}
a {outline:none;cursor:hand; color:inherit; font-size:inherit; font-weight:inherit;}
.hand {cursor:pointer}
.cursor {cursor:default !important}
a{text-decoration:none; transition:all .3s ease;}
a:hover{text-decoration:none; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition :all .3s ease; }

/* 정렬 */
.center { text-align:center !important; }
.left { text-align:left !important; }
.right { text-align:right !important; }
.fr { float:right  !important; }
.fl { float:left  !important; }
.mid { vertical-align:middle; }
.clear {clear:both;}
.ov{overflow:hidden;}

/* 기본 */
:focus {outline: none;}

/* 드래그 블록 색상 */
::selection {background:rgba(0,0,0,0.5); color:#fff;}
::-moz-selection {background:rgba(0,0,0,0.5); color:#fff;}
::-webkit-selection {background:rgba(0,0,0,0.5); color:#fff;}

/* font */
.bold {font-weight:bold;}
.fw1 { font-weight: 100 !important; }
.fw2 { font-weight: 200 !important; }
.fw3{ font-weight: 300 !important; }
.fw4 { font-weight: 400 !important; }
.fw5 { font-weight: 500 !important; }
.fw6 { font-weight: 600 !important; }
.fw7 { font-weight: 700 !important; }
.fw8 { font-weight: 800 !important; }
.fw9{ font-weight: 900 !important; }

.fs16{font-size:0.941em !important;}
.fs18{font-size:1.059em !important;}
.fs19{font-size:1.118em !important;}
.fs20{font-size:1.176em !important;}
.fs22{font-size:1.294em !important;}
.fs24{font-size:1.412em !important;}
.fs26{font-size:1.529em !important;}
.fs28{font-size:1.647em !important;}
.fs30{font-size:1.765em !important;}
.fs32{font-size:1.882em !important;}
.fs34{font-size:2em !important;}
.fs36{font-size:2.118em !important;}
.fs38{font-size:2.235em !important;}
.fs40{font-size:2.353em !important;}
.fs46{font-size:2.706em !important;}

