@charset "utf-8";



.inno_cate_ul {display:flex; gap:9px; width:100%;}
.inno_cate_ul li {display:inline-block;}
.inno_cate_ul li a {display:Flex; padding:12.5px 28px; border-radius:50px; font-weight:500; font-size:15px; line-height:1em; background:#f2f2f2; color:#8b8b8b;}
.inno_cate_ul li a.on {background:#222; color:#FFF;}

@media all and (max-width:768px) {
    .inno_cate_ul li a { padding:12.5px 20px; font-size:14px; }
}