@charset "utf-8";

.right {text-align:right;}

.inno_cate_ul {display:flex; gap:9px; width:100%;}
.inno_cate_ul li {display:inline-block;}
.inno_cate_ul li a {display:Flex; padding:12.5px 22px; border-radius:50px; font-weight:500; font-size:14px; line-height:1em; background:#f2f2f2; color:#8b8b8b;}
.inno_cate_ul li a.on {background:#222; color:#FFF;}

@media all and (max-width:768px) {
    .inno_cate_ul li a { padding:12.5px 20px; font-size:14px; }
}


.btn_inno_excel_down {color:#FFF; background:#00713f; border-radius:6px; font-size:13px; font-weight:600; line-height:1em; padding:12px 19px; border:0;}
.btn_inno_excel_down:hover {background-color:#002b18; color:#FFF; transition:all 0.4s;}

.btn_inno_zip_down {color:#FFF; background:#fe6600; border-radius:6px; font-size:13px; font-weight:600; line-height:1em; padding:12px 19px; border:0;}
.btn_inno_zip_down:hover {background-color:#c34800; color:#FFF; transition:all 0.4s;}


.btn_assi_down {color:#FFF !important; background:#222; border-radius:6px; font-size:12px; font-weight:500; line-height:1em; padding:11px; border:0; display:inline-block;  color:#FFF; margin-bottom:5px;}
.btn_assi_down:hover {background-color: #000; transition: all 0.5s;}
.assi_date {font-size:12px;}

.inno_tp {display:flex; align-items: center; margin-top:10px;}
.inno_tp > div {flex: 0 0 50%;}


.inno_bt {margin:20px 0 60px;}


.inno_bt .tbl_st_01 thead {background:#222; color:#FFF;}
.inno_bt .tbl_st_01 thead th {border:1px solid rgba(255,255,255,0.3); padding:12px 10px; }

.inno_bt .tbl_st_01 th {font-weight:600;}
.inno_bt .tbl_st_01 th,
.inno_bt .tbl_st_01 td {padding:16px 10px; font-size:14px; line-height:1.4;}

.inno_bt .tdLive {background-color: #8b8b8b;}

.inno_bt .tbl_w100.scroll {width:100%; overflow-x:scroll; padding:0 0 20px; }


